assess 7 n8n_adv.json
{
  "name": "assess 7 n8n_adv",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "19a68024-2456-4080-86e3-f4038609271d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM _learnersRaw\nWHERE stage = 'S1'\nAND status = 'new'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "62adca57-6f78-49e2-b141-380bed34ab94",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // ── NORMALIZE LinkedIn URL ──\n  let rawUrl = (d.source_url || '').trim();\n\n  // Step 1: lowercase everything\n  let normalized = rawUrl.toLowerCase();\n\n  // Step 2: remove protocol variations\n  normalized = normalized\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^http:\\/\\//i, '');\n\n  // Step 3: remove www.\n  normalized = normalized.replace(/^www\\./, '');\n\n  // Step 4: ensure starts with linkedin.com\n  if (!normalized.startsWith('linkedin.com')) {\n    // Not a LinkedIn URL — flag it\n    results.push({\n      json: {\n        ...d,\n        normalized_url: null,\n        normalization_status: 'invalid_url',\n        skip: true\n      }\n    });\n    continue;\n  }\n\n  // Step 5: remove trailing slash\n  normalized = normalized.replace(/\\/$/, '');\n\n  // Step 6: rebuild clean URL\n  const cleanUrl = 'https://www.' + normalized + '/';\n\n  // Step 7: extract username\n  const username = cleanUrl\n    .replace('https://www.linkedin.com/in/', '')\n    .replace('/', '');\n\n  // Step 8: final normalized form\n  const finalUrl = 'https://www.linkedin.com/in/' +\n    username + '/';\n\n  results.push({\n    json: {\n      ...d,\n      normalized_url: finalUrl,\n      linkedin_username: username,\n      normalization_status: 'normalized',\n      skip: false,\n      updated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0d4fbcd9-7ba3-497d-a025-0d7d5ab9c208",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE _learnersRaw\nSET normalized_url = '{{ $json.normalized_url }}',\n    stage = 'S2',\n    updated_at = NOW()\nWHERE record_id = '{{ $json.record_id }}'\nAND normalized_url IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "b9e5171b-c731-4d4e-a728-4d8fecbaa62e",
      "name": "Update Row in table",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check normalized URL is not null\nSELECT record_id, source_url, \n       normalized_url, stage\nFROM _learnersRaw\nWHERE normalized_url IS NOT NULL\nAND stage = 'S2'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "a6262fec-cb16-4803-a491-2d6d9a6f34fe",
      "name": "Normailzation",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Check normalized URL is not null\nSELECT record_id, source_url, \n       normalized_url, stage\nFROM _learnersRaw\nWHERE normalized_url IS NOT NULL\nAND stage = 'S2'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        0
      ],
      "id": "effad400-ca29-4c05-a72c-c740dca49705",
      "name": "Check if it worked",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Generate learner_id if missing\n  let learnerId = d.learner_id;\n\n  if (!learnerId || learnerId === '') {\n    // Promote valid URL record from S2 to S3\n    // Generate ID from username\n    const username = (d.linkedin_username ||\n      d.normalized_url\n        .replace('https://www.linkedin.com/in/', '')\n        .replace('/', '')\n    );\n    learnerId = 'LRN-' + \n      username.toUpperCase()\n        .replace(/[^A-Z0-9]/g, '')\n        .substring(0, 8) +\n      '-' + Date.now().toString().slice(-4);\n  }\n\n  results.push({\n    json: {\n      ...d,\n      learner_id: learnerId,\n      id_repaired: !d.learner_id,\n      stage: 'S3'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "c25feb5e-bfa4-456f-bc93-f4b35ef34af0",
      "name": "Repair missing learner id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE _learnersRaw\nSET learner_id = '{{ $json.learner_id }}',\n    stage = 'S3',\n    updated_at = NOW()\nWHERE record_id = '{{ $json.record_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        0
      ],
      "id": "710fc102-12d7-49e9-b01a-0752ce38a32c",
      "name": "s2->s3",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find duplicate normalized URLs\nWITH ranked AS (\n    SELECT\n        id,\n        record_id,\n        normalized_url,\n        full_name,\n        email,\n        created_at,\n        ROW_NUMBER() OVER (\n            PARTITION BY normalized_url\n            ORDER BY created_at ASC\n        ) AS rn,\n        COUNT(*) OVER (\n            PARTITION BY normalized_url\n        ) AS url_count\n    FROM _learnersRaw\n    WHERE stage = 'S3'\n    AND normalized_url IS NOT NULL\n)\nSELECT * FROM ranked\nWHERE url_count > 1\nORDER BY normalized_url, rn;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        0
      ],
      "id": "f8965574-f9cc-4b4d-92b6-36d45438ddee",
      "name": "s3->s4",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// Group by normalized_url\nconst groups = {};\nfor (const item of items) {\n  const url = item.json.normalized_url;\n  if (!groups[url]) groups[url] = [];\n  groups[url].push(item.json);\n}\n\nfor (const [url, records] of Object.entries(groups)) {\n  // Sort by created_at — oldest is primary\n  records.sort((a, b) =>\n    new Date(a.created_at) - new Date(b.created_at)\n  );\n\n  const primary = records[0];\n\n  for (let i = 0; i < records.length; i++) {\n    const rec = records[i];\n    const isPrimary = i === 0;\n\n    results.push({\n      json: {\n        ...rec,\n        is_duplicate: !isPrimary,\n        primary_record_id: primary.record_id,\n        duplicate_group: url,\n        stage: 'S4',\n        updated_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        0
      ],
      "id": "83195416-bb50-466e-a181-859a14517735",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE _learnersRaw\nSET stage = 'S4',\n    is_duplicate = {{ $json.is_duplicate }},\n    merged_into = '{{ $json.primary_record_id }}',\n    updated_at = NOW()\nWHERE record_id = '{{ $json.record_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        0
      ],
      "id": "0ea3e0f1-9cfd-44ca-9afe-aa656d7ba98f",
      "name": "update to s4",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    p.record_id AS primary_id,\n    p.normalized_url,\n    p.full_name AS primary_name,\n    p.email AS primary_email,\n    p.phone AS primary_phone,\n    p.company AS primary_company,\n    p.job_title AS primary_title,\n    p.learner_id AS primary_learner_id,\n\n    d.record_id AS dup_id,\n    d.full_name AS dup_name,\n    d.email AS dup_email,\n    d.phone AS dup_phone,\n    d.company AS dup_company,\n    d.job_title AS dup_title\n\nFROM _learnersRaw p\nINNER JOIN _learnersRaw d\n    ON p.normalized_url = d.normalized_url\n    AND p.record_id != d.record_id\n    AND d.is_duplicate = TRUE\n\nWHERE p.stage = 'S4'\nAND p.is_duplicate = FALSE\n\nORDER BY p.normalized_url;\n\n\n\n\n\nUPDATE _learnersRaw\nSET stage = 'S5',\n    updated_at = NOW()\nWHERE stage = 'S4';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        16
      ],
      "id": "ad848e2e-e2a1-492f-89ad-25653c1be2fd",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM _learnersRaw\nWHERE stage = 'S5'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        16
      ],
      "id": "40ec4303-1236-4fe9-8ade-668f2a33ffe0",
      "name": "Validate CRM readiness",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const issues = [];\n\n  // CRM readiness checks\n  if (!d.full_name) issues.push('missing_name');\n  if (!d.email) issues.push('missing_email');\n  if (!d.normalized_url) issues.push('missing_url');\n  if (!d.learner_id) issues.push('missing_id');\n\n  const isReady = issues.length === 0;\n\n  results.push({\n    json: {\n      ...d,\n      crm_ready: isReady,\n      crm_issues: issues.join(', '),\n      stage: isReady ? 'S6' : 'S5_FAILED',\n      updated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        16
      ],
      "id": "3b333aa4-cf77-4990-bf10-951bab4f2f15",
      "name": "CRM validation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE _learnersRaw\nSET crm_ready = {{ $json.crm_ready }},\n    stage = '{{ $json.stage }}',\n    updated_at = NOW()\nWHERE record_id = '{{ $json.record_id }}';\n\n\nSELECT * FROM _learnersRaw\nWHERE stage = 'S6'\nAND crm_ready = TRUE\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        16
      ],
      "id": "53cc0aba-fc18-4ce1-ab21-19ea55579328",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE _learnersRaw\nSET stage = 'S7',\n    status = 'completed',\n    updated_at = NOW()\nWHERE record_id = '{{ $json.record_id }}'\nAND crm_ready = TRUE;\n\n\nINSERT INTO pipeline_log\n(record_id, from_stage, to_stage,\n action, result, message)\nVALUES (\n  '{{ $json.record_id }}',\n  'S6', 'S7',\n  'pipeline_complete',\n  'success',\n  'Learner: {{ $json.full_name }} | ID: {{ $json.learner_id }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3008,
        16
      ],
      "id": "5af5f3ca-9fa1-4f05-b265-9042ef326966",
      "name": "s7 final",
      "credentials": {
        "postgres": {
          "id": "Pz5LiQSqb8EQE2AD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update Row in table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Row in table": {
      "main": [
        [
          {
            "node": "Normailzation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normailzation": {
      "main": [
        [
          {
            "node": "Check if it worked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if it worked": {
      "main": [
        [
          {
            "node": "Repair missing learner id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair missing learner id": {
      "main": [
        [
          {
            "node": "s2->s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "s2->s3": {
      "main": [
        [
          {
            "node": "s3->s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "s3->s4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "update to s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update to s4": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Validate CRM readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate CRM readiness": {
      "main": [
        [
          {
            "node": "CRM validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM validation": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "s7 final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50dfc8ee-5c51-469b-99e1-a32a0f246c64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "mM84a89omQAOFeQu",
  "tags": []
}