assess 15 n8n_adv.json
{
  "name": "assess 15 n8n_adv",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-comment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "52e7cf53-a214-490b-a7d7-aef17411530f",
      "name": "Webhook",
      "webhookId": "f7a02f86-38df-4a7d-83f0-81bfe7c11b73"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn engagement expert.\n\nGenerate a LinkedIn comment for this post caption.\n\nCaption: {{ $json.body.caption }}\nTone: {{ $json.body.tone }}\nHint: {{ $json.body.hint || 'None' }}\n\nRules:\n- Maximum 40 words strictly\n- Match the tone: {{ $json.body.tone }}\n- Sound human and genuine\n- Do NOT start with \"Great post\"\n- No hashtags\n\nYou MUST respond with ONLY this exact JSON format, no extra text:\n{\n  \"comment\": \"your comment here\",\n  \"word_count\": 15,\n  \"tone_used\": \"supportive\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "9740309d-15b5-46b5-8073-75d0ec8d8afa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "dd8c4ac9-65d5-4312-9e20-48780d8b4b3c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "6a4706fb-1563-4ce0-9114-42e4e65af41a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "X6yz5KIllfL8AWsR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"comment\": {\n    \"type\": \"string\"\n  },\n  \"word_count\": {\n    \"type\": \"number\"\n  },\n  \"tone_used\": {\n    \"type\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "d4cec4e1-7ecd-4d94-9813-eacc44934b0f",
      "name": "Structured Output Parser",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d22d2f1-033c-4235-a70b-06db946b7085",
              "name": "comment",
              "value": "={{ $json.output.comment }}",
              "type": "string"
            },
            {
              "id": "a0afcb43-1645-4e47-8a00-7fca95344559",
              "name": "word_count",
              "value": "={{ $json.output.word_count }}",
              "type": "string"
            },
            {
              "id": "c2feec63-6e80-41fb-8257-8a8c4870a838",
              "name": "tone_used",
              "value": "={{ $json.output.tone_used }}",
              "type": "string"
            },
            {
              "id": "c038e1a9-ae1a-4e06-a79e-58f71750a92c",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "bccb4521-5d9e-4c3e-81f4-1dcb998b0ff5",
              "name": "caption",
              "value": "={{ $('Webhook').item.json.body.caption }}",
              "type": "string"
            },
            {
              "id": "076dd316-7b0a-4fa8-9e78-f4917b09ea2f",
              "name": "generated_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "488b6e52-ce96-4451-91ed-ef2c1a6cc862",
              "name": "status",
              "value": "Success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "e5dde804-87f1-436d-9b29-efdff017a9b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"data\": {\n    \"comment\": \"{{ $json.comment }}\",\n    \"word_count\": \"{{ $json.word_count }}\",\n    \"tone_used\": \"{{ $json.tone_used }}\",\n    \"user_id\": \"{{ $json.user_id }}\",\n    \"generated_at\": \"{{ $json.generated_at }}\"\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "fa06fff6-a3ad-46fa-b232-1c8ba86f20a8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6c355eb-3051-4b8f-823c-b7ee452bdfe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfa9bd419da97e8a72d6069acb67e95575c89baa71302d0781a7331301986176"
  },
  "id": "r0sQaB7DJuifuYCX",
  "tags": []
}